/**
* @site 		Marque/Projet
* @version 		1.0
* @lastmodified 2012-11-21
*/

/** --- = @section TYPOGRAPHY ---*/
/** --- = @section LAYOUT---*/

#map{
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#interfaceBlock{
	color: white;
	position: absolute;
	top:10%;
	height:70%;
	width: 20%;
	border: solid black 1px;
	background-color: black; 
	display: none;
}
#visitbutton {
	position: absolute;
	bottom: 0px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 10px;
}
#closebutton {
	float: right;
	font-size: 10;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	width: 18px;
	height: 18px;
}

/** --- = @section COMPONENT ---*/
/** --- = @section IE ---*/

